@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* RALEWAY FOR HEADER ONLY */
/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* DM SANS FOR REST OF SITE */
/* // <weight>: Use a value from 100 to 1000
// <uniquifier>: Use a unique and descriptive class name

.dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
    --header-font: "Raleway", sans-serif;
    --body-font: "DM Sans", sans-serif;
    --blue-skies: #87ceeb;
    --overcast: #90959f;
    --nighttime: #22283d;
}
body {
    background-color: #fafafa;
    font-family: var(--body-font);
}
h1 {
    font-family: var(--header-font);
}

/* Media query */
@media (min-width: 992px) {
    /* Stack image above content in each card */
    .forecast-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    .forecast-cards > .card {
        margin: 0;
        width: 100%;
        max-width: 300px;
    }
    .forecast-cards .card .row.g-0 {
        flex-direction: column !important;
        display: flex;
    }
    .forecast-cards .card .col-4,
    .forecast-cards .card .col-8 {
        flex: none;
        max-width: 100%;
        width: 100%;
    }
    .forecast-cards .card .col-4 {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
    .forecast-cards .card .col-8 {
        order: 2;
        padding-bottom: 1rem;
    }
}
